* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.top {
  margin: 28px;
  font-size: 26px;
   font-weight: 900;
   font-family: verdana;
   color : #3E3D3D;
}
.subtitle {
  color : #3E3D3D;
  font-size: 13px;
  font-family: verdana;
}

main {
  margin: 30px;
}
.books {
   font-size: 26px;
   font-weight: 900;
   font-family: verdana;
   color : #3E3D3D;
}
table {
  padding: 4px;
  font-size: 13px;
}
.under {
  text-decoration : underline;
}
td, th {
  color : #3E3D3D;
  padding: 4px;
  font-size: 13px;
  font-family: verdana;
}
.newbook {
 color : #3E3D3D;
 font-size: 20px;
 font-family: verdana;
 font-weight: 900;
 margin-top: 13px;
 margin-bottom: 13px;
}

.title {
 padding: 5px;
 font-size: 12px;
}
.body {
 padding: 5px;
 font-size: 12px;
}
.flash {
 color : #3E3D3D;
 margin: 20px;
 font-size: 20px;
 font-family: verdana;
}

.show-title { 
 color : #3E3D3D;
 margin: 20px;
 padding: 5px;
 font-size: 14px;
}
.show-body {
 color : #3E3D3D;
 margin: 20px;
 padding: 5px;
 font-size: 14px;
}
.editingbook {
  margin: 24px;
  font-size: 27px;
  font-weight: 900;
  font-family: verdana;
  color : #3E3D3D;
}
.edit-box {
  margin: 25px;
  font-size: 14px;
  font-family: verdan
}
.box1 {
  margin: 25px;
  font-size: 14px;
  font-family: verdan
}
