* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
table {
  padding: 5px;
  font-size: 15px;
}
td, th {
  padding: 5px;
  font-size: 15px;
}
.newbook {
 font-size: 30px;
}
.title {
 font-size: 15px;
}
.body {
 font-size: 15px;
}